:root{
  --color-primary: #ccdcf0 ;
  --color-second: #33230F;
  --color-text-p: #111111;
  --color-text-s: #EEEEEE;
  .c-theme-switch {
    .c-theme-switch__toggle {
      transform: translateX(0px);
    }
  }
}

.ui-light-theme {
  --color-primary: #ccdcf0 ;
  --color-second: #33230F;
  --color-text-p: #111111;
  --color-text-s: #EEEEEE;
  .c-theme-switch {
    .c-theme-switch__toggle {
      transform: translateX(0px);
    }
  }
}

.ui-dark-theme {
  --color-primary: #33230F ;
  --color-second: #ccdcf0;
  --color-text-p: #EEEEEE;
  --color-text-s: #111111; 

 
}



/* class */
.styleGroup {
  border: 2px solid white;
  border-radius: 30px;

  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}




/* element */

* {
  font-family: "Fredoka", sans-serif;
}

html,
body {
  height: 100%;
  background-color: var(--color-primary);
  overflow: hidden; 
  width: 100%;
  margin: 0;
  transition: 500ms background ease;
}

.DFCC {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.DFCCW {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-wrap: nowrap;
}



a {
  text-decoration: underline;
  font-size: 2rem;
  display: block;
  color: var(--color-second);
}

form{
  height: 400px;
  width: 400px;
  margin-right: 0 !important;
  border-top: #EEEEEE 4px solid;
  border-bottom: #EEEEEE 4px solid;
}


h2{
  margin-bottom: 1%;
  padding-bottom: 1%;
}





h1,
h2 {
  display: block;
  margin: 0!important;

}

main {
  padding: 1%;
  width: 400px !important;
  height: 700px;
  padding-left: 0!important;
 
}

main>* {
  margin: 1%;
  width: 380px;
  margin-left: 10px!important;
}

form>* {
  margin: 1%;
  display: block;
}

@keyframes pageFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  opacity: 0;
  animation: pageFadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-delay: .1s
}

/* bibliotheque */
.height80 {
  height: 80%;
}

.textAlignCenter {
  text-align: center;
}

.TACWM {
  margin-left: 50%;
  transform: translate(-50%);
}

.TACWMNT {
  margin-left: 50%;
  transform: translate(-20%);
}

.RTACWM {
  margin-right: 50%;
  transform: translate(-50% );
  display: inline-block;
}

.mAuto {
  margin: 0 auto;
}


.DN {
  display: none;
}

.form1 {
  display: flex;
  flex-wrap: nowrap;
}

.white {
  color: var(--color-text-p);
}



button,
input[type=submit] {
  padding: 3%;
  border: 2px solid white;
  background-color: var(--color-second);
  color: var(--color-primary);
  border-radius: 30px;
  cursor: pointer;
}

.border {
  border: 2px solid white;
  border-radius: 30px;
  padding: .4em;

}

.borderTop{
  margin-top: 2%;
  margin-bottom: 1%;
  border-top: #EEEEEE 4px solid;

}



.ui-light-theme, .c-theme-switch .c-theme-switch__toggle {
    transform: translateX(0px);
  }

.mode{
  padding: 0px;
  background-color: var(--color-primary);
  border: none;
  width: 24px;
  
}

img{
  width: 24px;
  height: 24px;
}


